<%- include('./templates/template.ejs') %> 
    <body>
        <main>
        <form class="container-gamers">
            <h1 class="title">Juego de Dados</h1>
            <% if (players.length > 0) { %>
                <% players.forEach(player => { %>
                  <div class="players">
                    <span class="span-inputs">Jugadores</span>
                    <h3><%= player.gamer[0] %></h3>
                    <p class="player1"><%= player.bet[0] %></p>
                    <h3><%= player.gamer[1] %></h3>
                    <p class="player2"><%= player.bet[1] %></p>
                    <h3><%= player.gamer[2] %></h3>
                    <p class="player3"><%= player.bet[2] %></p>
                  </div>
                <% }) %>  
            <% } %>
                
            <div id="dado"></div>
            <button class="button-play" onclick="numberRandom()">Tirar dado</button>
          </form>
        </main>
        <script src="/javascripts/rollDice.js"></script>
    </body>
</html>